html  {
  height: 100%;
}
body  {
  height: 100%;
  background-image: linear-gradient(90deg, rgb(255, 230, 0), rgb(0, 150, 0));
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
}
.linkbox {
  margin: left;
  height: 23em;
  width: 14em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #333;
  padding: 8px 12px;
  background-image: linear-gradient(white, #b2b2b2);
  position: fixed;
}
.content {
  float: right;
  margin: auto;
  height: auto;
  max-width: 80%;
  border: 1px solid #333;
  padding: 8px 12px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  margin: auto;
  align-items: center;
}
.hover  {
  background-color: black;
  border: none;
  color: white;
  padding: 13px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.hvr1  {
  background-color: white;
  color: black;
  border: 2px solid red;
}
.hvr1:hover {
  background-color: red;
  color: white;
}
.hvr2 {
  background-color: white;
  color: black;
  border: 2px solid orange;
}
.hvr2:hover {
  background-color: orange;
  color: white;
}
.hvr3 {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.hvr3:hover {
  background-color: black;
  color: white;
}
.hvr4 {
  background: white;
  color: black;
  border: 2px solid green;
}
.hvr4:hover {
  background-color: green;
  color: white
}
.hvr5 {
  background: white;
  color: black;
  border: 2px solid blue;
}
.hvr5:hover {
  background-color: blue;
  color: white
}